{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_titple %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
{% block style %} 
.jumbotron{
	background-color: #0174DF !important;
	color: white !important;
}
{% endblock %}
</style>



{% block jumbotron %}

<div class="jumbotron">
<div class="container">
<div class='row'>
<div class='col-sm-6'
		<h1>Probar django 1.10</h1>
        <p class="lead text-align-center ">Un proyecto para Lenguaje de Marcas</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Únete &raquo;</a>
</div>
<div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/e2H9xazQt-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
</div>
</div>
{% endblock %}



{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<div class="row">
	<div class="col-sm-3 col-xs-12 float-right">
		<p class='lead text-align-center '>{{ titulo }}</p>
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class='btn btn-primary' type='submit' value='Inscribirse' />
		</form>
	</div>
<div class='col-sm-3'>
	<p class='lead text-align-center '>Creado con Django &amp; Bootstrap</p>
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center '>Y con poco tiempo, claro.</p>
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center '>Código abierto, siempre.</p>
</div>
</div>

<hr/>
{% endblock %}