{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_titple %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
{% block style %} 
.jumbotron{
	background-color: #0174DF !important;
	color: white !important;
}
{% endblock %}
</style>



{% block jumbotron %}
{% if request.user.is_staff %}
{% for instance in queryset %}
{{ instance }}, {{ instance.nombre }} <br/>
{% endfor %}
{% else %}

<div class="jumbotron">
<div class="container">
<div class='row'>
<div class='col-sm-6'
		<h1>Probar django 1.10</h1>
        <p class="lead text-align-center ">Un proyecto para Lenguaje de Marcas</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Únete &raquo;</a>
</div>
<div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/e2H9xazQt-M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
</div>
</div>
{% endif %}
{% endblock %}



{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
{% if not request.user.is_staff %}
<div class="row">
	<div class="col-sm-3 col-xs-12 pull-right">
		{% if not user.is_authenticated %}
		<p class='lead text-align-center '>Subscribirte</p>
		
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class='btn btn-primary' type='submit' value='Enviar' />
		</form>
		{% else %}
		<p class='lead text-align-center '>{{ titulo }} <br/><br/><br/><i class="fab fa-draft2digital fa-7x"></i></p>
		


		{% endif %}
	</div>
<div class='col-sm-3'>
	<p class='lead text-align-center '>Creado con Django &amp; Bootstrap <br/><br/><i class="fas fa-chess-king fa-7x"></i></p>
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center '>Y con poco tiempo, claro.</p><img src= '{% static "img/shaco.jpg" %}' />
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center '>Código abierto, siempre <br/><br/><i class="fab fa-fort-awesome fa-spin fa-7x" style= "color:#0174DF"></i></p>


</div>
</div>

<hr/>
{% endif %}
{% endblock %}